# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# M$VC
msvc/Win32
msvc/x64
*.db
.vs

# Others
Makefile
lib/
.Makefile*
.codelite/
Debug/
Makefile.clang
fl_imgtk.mk
fl_imgtk.project
fl_imgtk.txt
fl_imgtk.workspace
